
*.runs/
*.cache/
*.srcs/sources_1/ip/*/xgui/
*.srcs/sources_1/ip/*/component.xml
*.hw/
*.sim/
*.Xil/
*.jou
*.log
*.str
*.tmp
*.dcp
*.pb
*.html
*.xml
*.data/
*.bld/
*.xrf
*.bak
*.wdb
*.zip
*.cfg
*.backup

*.xpr.lock
*.webtalk/
*.sdk/
*.ip_user_files/
*.ipdefs/
*.ipr
*.isr
*.xise
*.xmsgs/
*.vivado.*

xsim.dir/
*.vcd
*.wcfg
*.wdb
*.behav.wdb
*.vvp
*.fuse*
*.svf

*.rpt
*.log
*.jou
*.txt
*.pb
*.html
*.csv
*.xml
*.ltx

*.temp
*.tmp
*.backup
*.bak

.cache/
.hw/
.sim/
.runs/
.ip_user_files/
.webtalk/
